.sidebar-sub-item {
  padding-left: 15%;
}

.active-link {
  background-color: $primary;
  color: $dark;
}

.form-main-cont {
  margin: 0 40px;
  width: 50%;
}

.form-input-name {
  width: 30%;
}

.form-input-cont {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.add-btn-cont {
  display: flex;
  justify-content: flex-end;
}

// .form-dialog-card {
//   width: 100%;
// }

.form-dialog-card-title {
  text-align: center;
  height: 50px;
  padding-top: 30px;
}

.form-main-cont {
  width: 100%;
  margin: 0;
  padding: 0 20px;
}

.dialog-info-card {
  display: flex;
  margin: 20px 0;
}

.dialog-object-key {
  flex: 3;
}

.dialog-object-value {
  flex: 7;
}

.table-dialog-search {
  display: flex;
  justify-content: center;
}

.table-dialog-search-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  margin: 0 20px;
}

.execute-dialog-card {
  display: flex;
  justify-content: center;
}

.execute-dialog {
  width: 100%;
  margin: 0 20px;
  margin-bottom: 20px;
}

.execute-dialog-subtitle {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.form-input-execute-name {
  padding-left: 10px;
  margin-bottom: 5px;
}


.result-dialog-subtitle {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-page;
  color: $light;
  border-radius: 10px;
  margin: 15px 0;
  margin-top: 10px;
}

.result-dialog-cont {
  background-color: $dark-page;
  border-radius: 10px;
  padding: 20px;
}

.table-dialog-subtitle {
  text-align: center;
  margin: 20px 0;
  margin-top: 0;
  padding: 0 !important;
  font-size: 16px;
}

.table-top-function-cont {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  // padding: 0 40px;
}

.export-btn {
  margin-right: 40px;
}

.table-search-cont {
  margin-left: 40px;
  display: flex;
}

.table-search-input {
  width: 200px;
  margin-right: 20px;
}
