// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary : #3498db;
$secondary : #2ecc71;
$accent : #e74c3c;

$dark : #34495e;
$dark-page : #2c3e50;
$light : #ecf0f1;
$dark-light : #95a5a6;
$light-page : #bdc3c7;

$positive : #27ae60;
$negative : #CF6679;
$info : #2980b9;
$warning : #f39c12;

$title-font-size: 30px;
$subtitle-font-size: 20px;
$table-header-font-size: 18px;
$usual-font-size: 16px;
