.button-cont {
  margin: 0 40px;
  margin-bottom: 20px;
}

.form-main-cont {
  margin: 0 40px;
  width: 50%;
}

.form-input-name {
  width: 30%;
}

.form-input-cont {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.add-btn-cont {
  display: flex;
  justify-content: flex-end;
}
